# required packages for tennis-abs-api
numpy>=1.17
pandas==1.1.5
beautifulsoup4==4.7.1
lxml==4.6.3
selenium==3.141.0

# (if needed) driver installation for firefox and chromium
webdriverdownloader==1.1.0.3

# (if needed) driver installation for chrome
#webdriver_manager==3.1.0
#requests==2.22.0

# useful packages for notebook?
matplotlib>=3
